<section class="ads">
	<div class="container-fluid well">
		<div class="row">
			<div class="container">
				<div class="col-sm-4"><img src="https://tpc.googlesyndication.com/simgad/3856323209855050593" class="img-responsive center-block" /></div>
			    <div class="col-sm-4"><br /><img src="{{ '/assets/img/think-tank-2015-300x200-v2.jpg' | relative_url }}" class="img-responsive center-block" /></div>
			    <div class="col-sm-4"><br /><img src="{{ '/assets/img/fte-think-tank-300x200.png' | relative_url }}" class="img-responsive center-block" /></div> 
		  </div>
		</div>
	</div>
</section>