<section class="events-slider">
  <div class="container slick-navigation text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 slick-events-nav" id="slick-events-nav">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <a class="fte-primary-link slick-nav slick-europe-nav active" href="#" data-target="#slick-events" data-slide="#slick-events-europe">
              <img src="{{ '/assets/img/fte-europe-logo-bar.svg' | relative_url }}" class="img-responsive" />
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a class="fte-primary-link slick-nav slick-global-nav" href="#" data-target="#slick-events" data-slide="#slick-events-global">
              <img src="{{ '/assets/img/fte-global-logo-bar.svg' | relative_url }}" class="img-responsive" />
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a class="fte-primary-link slick-nav slick-asia-expo-nav" href="#" data-target="#slick-events" data-slide="#slick-events-asia-expo">
              <img src="{{ '/assets/img/fte-asia-expo-logo-bar.svg' | relative_url }}" class="img-responsive" />
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a class="fte-primary-link slick-nav slick-ancillary-nav" href="#" data-target="#slick-events" data-slide="#slick-events-ancillary">
              <img src="{{ '/assets/img/fte-ancillary-logo-bar.svg' | relative_url }}" class="img-responsive" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slick-events" id="slick-events">
    <!-- Begin slides -->
    <div class="slick-events-slide slick-events-europe" id="slick-events-europe">
      <div class="slick-events-slides-nav">
        <div class="container text-center">
          <div class="row flex-v-center">
            <div class="col-xs-2 col-xs-2 col-sm-offset-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-prev slick-events-prev" data-target="#slick-events"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-xs-8 col-sm-4">
              <a href="#"><img src="{{ '/assets/img/fte-europe-logo-bar.svg' | relative_url }}" alt="" class="img-responsive slick-events-logo fte-primary-link"></a>
            </div>
            <div class="col-xs-2 col-sm-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-next slick-events-next" data-target="#slick-events"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-events-content flex-v-center text-center" style="background-image: url({{ '/assets/img/fte-europe-slider-cover.jpg' | relative_url }});">    
        <div class="container slick-events-container">
          <br />
          <div class="cover-content-black">
            <h2 class="slick-events-heading h1 hero-title h3-xs text-center text-uppercase"><strong>Future Travel Experience Europe</strong></h2>
            <p class=" h2 h4-xs text-center text-uppercase">25-26 April 2016, Amsterdam</p>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-europe text-uppercase"><strong>Get Updates</strong></button>
              <br />
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-fte-cta text-uppercase"><strong>More Info</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-events-slide slick-global" id="slick-events-global">
      <div class="slick-events-slides-nav">
        <div class="container text-center">
          <div class="row flex-v-center">
            <div class="col-xs-2 col-xs-2 col-sm-offset-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-prev slick-events-prev" data-target="#slick-events"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-xs-8 col-sm-4">
              <a href="#"><img src="{{ '/assets/img/fte-global-logo-bar.svg' | relative_url }}" alt="" class="img-responsive slick-events-logo fte-primary-link"></a>
            </div>
            <div class="col-xs-2 col-sm-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-next slick-events-next" data-target="#slick-events"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-events-content flex-v-center text-center" style="background-image: url({{ '/assets/img/fte-global-slider-cover.jpg' | relative_url }});">
        <div class="container slick-events-container">
          <div class="cover-content-black">
            <h2 class="slick-events-heading h1 hero-title h3-xs text-center text-uppercase"><strong>Future Travel Experience Global</strong></h2>
            <p class=" h3 h4-xs text-center text-uppercase">7-9 September 2016, Las vegas</p>
            <p class="h4 h5-xs">Showcasing the technology, processes, designs and services that will define the travel experience of 2025</p>
          </div>
          <br class="hidden-xs" />
          <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-global text-uppercase"><strong>Get Updates</strong></button>
              <br />
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-fte-cta text-uppercase"><strong>More Info</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-events-slide slick-asia-expo" id="slick-events-asia-expo">
      <div class="slick-events-slides-nav">
        <div class="container text-center">
          <div class="row flex-v-center">
            <div class="col-xs-2 col-xs-2 col-sm-offset-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-prev slick-events-prev" data-target="#slick-events"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-xs-8 col-sm-4">
              <a href="#"><img src="{{ '/assets/img/fte-asia-expo-logo-bar.svg' | relative_url }}" alt="" class="img-responsive slick-events-logo fte-primary-link"></a>
            </div>
            <div class="col-xs-2 col-sm-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-next slick-events-next" data-target="#slick-events"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-events-content flex-v-center text-center" style="background-image: url({{ '/assets/img/fte-asia-expo-slider-cover.jpg' | relative_url }});">
        <div class="container slick-events-container">
          <div class="cover-content-black">
            <h2 class="slick-events-heading h1 hero-title h3-xs text-center text-uppercase"><strong>Future Travel Experience Asia EXPO</strong></h2>
            <p class=" h3 h4-xs text-center text-uppercase">7-9 September 2016, Las vegas</p>
            <p class="h4 h5-xs">Showcasing the technology, processes, designs and services that will define the travel experience of 2025</p>
          </div>
          <br class="hidden-xs" />
          <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-asia-expo text-uppercase"><strong>Get Updates</strong></button>
              <br />
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-fte-cta text-uppercase"><strong>More Info</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-events-slide slick-ancillary" id="slick-events-ancillary">
      <div class="slick-events-slides-nav">
        <div class="container text-center">
          <div class="row flex-v-center">
            <div class="col-xs-2 col-xs-2 col-sm-offset-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-prev slick-events-prev" data-target="#slick-events"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div class="col-xs-8 col-sm-4">
              <a href="#"><img src="{{ '/assets/img/fte-ancillary-logo-bar.svg' | relative_url }}" alt="" class="img-responsive slick-events-logo fte-primary-link"></a>
            </div>
            <div class="col-xs-2 col-sm-2">
              <a href="#" class="h1 h3-xs fte-primary-link slick-next slick-events-next" data-target="#slick-events"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-events-content flex-v-center text-center" style="background-image: url({{ '/assets/img/fte-terminal-slider-cover.jpg' | relative_url }});">
        <div class="container slick-events-container">
          <div class="cover-content-black">
            <h2 class="slick-events-heading h1 hero-title h3-xs text-center text-uppercase"><strong>Future Travel Experience Ancillary</strong></h2>
            <p class=" h3 h4-xs text-center text-uppercase">7-9 September 2016, Las vegas</p>
            <p class="h4 h5-xs">Showcasing the technology, processes, designs and services that will define the travel experience of 2025</p>
          </div>
          <br class="hidden-xs" />
          <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-ancillary text-uppercase"><strong>Get Updates</strong></button>
              <br />
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-lg btn-block-xs btn-fte-cta text-uppercase"><strong>More Info</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of slides -->
  </div>
</section>