<footer>
	<section class="section section-pre-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-3 text-center">
					<a href="/template/"><img src="{{ '/assets/img/fte-logo-white.svg' | relative_url }}" alt="Future Travel Experience" class="img-responsive h-margin-top-primary center-block-xs"></a>
					<p class="text-uppercase">Independent, future thinking, passenger focused</p>
					<ul class="list-inline footer-sm-links">
			            <li class="text-center"><a href="#" class="twitter-hover"><i class="fa fa-twitter"></i></a></li>
			            <li class="text-center"><a href="#" class="facebook-hover"><i class="fa fa-facebook"></i></a></li>
			            <li class="text-center"><a href="#" class="google-plus-hover"><i class="fa fa-google-plus"></i></a></li>
			            <li class="text-center"><a href="#" class="linkedin-hover"><i class="fa fa-linkedin"></i></a></li>
			            <li class="text-center"><a href="#" class="rss-feed-hover"><i class="fa fa-rss"></i></a></li>
			        </ul>
				</div>
				<div class="col-sm-8 col-md-5">
					<h3 class="text-uppercase">Links</h3>
					<div class="row bs-columns-clearfix">
						<div class="col-xs-6 col-sm-4 col-md-4">
							<ul class="footer-links-list small">
								<li><a href="#">All News</a></li>
								<li><a href="#">On the Ground</a></li>
								<li><a href="#">Up in the Air</a></li>
								<li><a href="#">Terminal Design</a></li>
								<li><a href="#">Ancillary</a></li>
								<li><a href="#">Event News</a></li>
								<li><a href="#">Think Tanks</a></li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4">
							<ul class="small footer-links-list ">
								<li><a href="#">Events</a></li>
								<li><a href="#">Europe</a></li>
								<li><a href="#">Global</a></li>
								<li><a href="#">Asia EXPO</a></li>
								<li><a href="#">Ancillary</a></li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4">
							<ul class="small footer-links-list">
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Terms &amp; Conditions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<h3 class="text-uppercase">Popular Tags</h3>
					<span class="h4 heading-label"><a href="#" class="label label-default">Automated Border Control</a></span>
					<span class="h4 heading-label"><a href="#" class="label label-default">Bag Drop</a></span>
					<span class="h4 heading-label"><a href="#" class="label label-default">Biometrics</a></span>
					<span class="h4 heading-label"><a href="#" class="label label-default">Kiosks</a></span>
					<span class="h4 heading-label"><a href="#" class="label label-default">Self-Service</a></span>
					<span class="h4 heading-label"><a href="#" class="label label-default">Wayfinding</a></span>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-footer">
		<div class="container">
		<p>Copyright &copy; 2016 PPS Publications</p>
	</div>
	</section>
</footer>

<script src="{{ '/assets/js/vendor/jquery-1.12.2.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/bootstrap.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/slick.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/jPushMenu.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins.js' | relative_url }}"></script> 
<script src="{{ '/assets/js/main.js' | relative_url }}"></script> 
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>