<!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]--> 

<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<a href="./"><img src="{{ '/assets/img/fte-logo.svg' | relative_url }}" alt="Future Travel Experience" class="img-responsive header-logo center-block-xs"></a>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1 text-center hidden-xs">
				<p class="fte-tagline small text-uppercase hidden-xs hidden-sm">Redefining the end-to-end passenger experience | Independent news and events</p>
				<nav>
					<div class="row">
						<div class="col-xs-6 col-sm-3">
							<a class="fte-primary-link header-event-links" href="./index-events-europe.php">
								<img src="{{ '/assets/img/fte-europe-logo-bar.svg' | relative_url }}" class="img-responsive" />
							</a>
							<span class="small fte-event-info"><strong class="fte-closest-event">25-26 April</strong></span>
							<span class="small fte-event-info">Amsterdam</span>
						</div>
						<div class="col-xs-6 col-sm-3">
							<a class="fte-primary-link header-event-links" href="./index-events-global.php">
								<img src="{{ '/assets/img/fte-global-logo-bar.svg' | relative_url }}" class="img-responsive" />
							</a>
							<p class="small fte-event-info">7-9 September</p>
							<p class="small fte-event-info">Las Vegas</p>
						</div>
						<div class="col-xs-6 col-sm-3">
							<a class="fte-primary-link header-event-links" href="index-events-asia-expo.php">
								<img src="{{ '/assets/img/fte-asia-expo-logo-bar.svg' | relative_url }}" class="img-responsive" />
							</a>
							<p class="small fte-event-info">25-26 October</p>
							<p class="small fte-event-info">Singapore</p>
						</div>
						<div class="col-xs-6 col-sm-3">
							<a class="fte-primary-link header-event-links" href="index-events-ancillary.php">
								<img src="{{ '/assets/img/fte-ancillary-logo-bar.svg' | relative_url }}" class="img-responsive" />
							</a>
							<p class="small fte-event-info">Coming Soon</p>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<p class="fte-tagline text-uppercase small text-center-xs visible-xs">Independent, Future Thinking, Passenger Focused | News and Events</p>
	</div>
</header>