<div class="navbar fte-navbar-secondary navbar-uita-news">
    <div class="container">
        <span class="h4 navbar-text visible-xs"><strong>On the Ground News Categories</strong></span>
        <ul class="nav navbar-nav navbar-center">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#contact">Check-in</a></li>
            <li><a href="#contact">Baggage</a></li>
            <li><a href="#contact">Security</a></li>
            <li><a href="#contact">Wayfinding &amp; Passenger Services</a></li>
            <li><a href="#contact">Lounges &amp; Gates</a></li>
            <li><a href="#contact">Immigration &amp; Arrivals</a></li>
            <li><a href="#contact">Terminal Design</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Mobile &amp; Wearables</a></li>
                    <li><a href="#">Robotics &amp; AI</a></li>
                    <li><a href="#">Biometrics</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>