<div class="section">
	<div class="news-lead-title-container">
		<div class="news-lead-overlay">
			<img src="{{ '/assets/img/fte-otg-icon-alt.svg' | relative_url }}" alt="On the Ground" class="news-lead-title-icon">
			<h2 class="h3 h4-xs news-lead-title"><strong>On the Ground News</strong></h2>
        </div>
	</div>
    <div class="slick-news-lead-slides" id="slick-news-lead-slides">
        <div class="news-lead-slide-otg" id="news-lead-slide-otg">
            <a href="#"><img src="{{ '/assets/img/fte-terminal-placeholder-750x394.jpg' | relative_url }}" class="img-responsive" /></a>
        </div>
        <div class="news-lead-slide-uita" id="news-lead-slide-uita">
            <a href="#"><img src="{{ '/assets/img/img-placeholder-750x394.png' | relative_url }}" class="img-responsive" /></a>
        </div>
        <div class="news-lead-slide-terminal" id="news-lead-slide-terminal">
            <a href="#"><img src="{{ '/assets/img/img-placeholder-750x394.png' | relative_url }}" class="img-responsive" /></a>
        </div>
    </div>
    <div class="news-lead-footer">
        <div class="news-lead-overlay">
            <div class="row">
                <div class="col-sm-2">
                    <div class="slick-news-lead-nav" id="slick-news-lead-nav"></div>
                </div>
                <div class="col-sm-10">
                    <div class="news-lead-footer-content">
                        <div class="slick-news-lead" id="slick-news-lead">
                            <div class="news-lead-otg">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="h6 news-lead-heading-cat small text-uppercase"><strong>Latest On the Ground News</strong></span>
                                        <h2 class="h5 media-heading text-upper news-lead-heading">5 things air transport stakeholders must do now to avoid missing out on huge industry transformation opportunities</h2>
                                    </div>
                                    <div class="media-right">
                                        <a href="#">
                                            <img src="{{ '/assets/img/fte-otg-icon-alt.svg' | relative_url }}" alt="" style="padding-top:10px;" class="media-object">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-lead-uita">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="news-lead-heading-cat small text-uppercase"><strong>Latest Up in the Air News</strong></span>
                                        <h2 class="h5 media-heading news-lead-heading">5 things air transport stakeholders must do now to avoid missing out on huge industry transformation opportunities</h2>
                                    </div>
                                    <div class="media-right">
                                        <a href="#">
                                            <img src="{{ '/assets/img/fte-uita-icon.svg' | relative_url }}" alt="" class="media-object">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-lead-terminal">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="news-lead-heading-cat small text-uppercase">Latest Terminal Design News</span>
                                        <h2 class="h5 media-heading news-lead-heading">5 things air transport stakeholders must do now to avoid missing out on huge industry transformation opportunities</h2>
                                    </div>
                                    <div class="media-right">
                                        <a href="#">
                                            <img src="{{ '/assets/img/fte-terminal-icon.svg' | relative_url }}" alt="" class="media-object">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>