<section class="section news">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<article>
					<img src="http://placehold.it/767x402" class="img-responsive" />
					<header class="entry-header">
						<h2 class="entry-title h2 h4-xs"><a href="#" rel="bookmark">Airbus aims for more spacious cabin with new ‘Airspace by Airbus’ design</a></h2>
					</header><!-- .entry-header -->

					<div class="entry-content">
						<p>Larger overhead storage bins, spacious lavatories, wider seats and aisles, and unobstructed under-seat foot space feature in Airbus’ new cabin design.</p>
					</div><!-- .entry-content -->
						
					<div class="entry-meta">
						<p class="text-uppercase small"><a href="#">Initiatives</a> // <a href="#">Mar 2016</a></p>
					</div><!-- .entry-meta -->
				</article><!-- #post-## -->
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-6">
						{%- include post-no-excerpt.html -%}
					</div>
					<div class="col-sm-6">
						{%- include post-no-excerpt.html -%}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						{%- include post-no-excerpt.html -%}
					</div>
					<div class="col-sm-6">
						{%- include post-no-excerpt.html -%}
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-4">
				{%- include post-w-excerpt.html -%}
			</div>
			<div class="col-sm-4">
				{%- include post-w-excerpt.html -%}
			</div>
			<div class="col-sm-4">
				{%- include post-w-excerpt.html -%}
			</div>
		</div>
	</div>
</section>