<div class="row">
	<div class="col-sm-6">
		{%- include post-w-excerpt.html -%}
	</div>
	<div class="col-sm-6">
		{%- include post-w-excerpt.html -%}
	</div>
</div>
<br />
<div class="row">
	<div class="col-sm-6">
		{%- include post-w-excerpt.html -%}
	</div>
	<div class="col-sm-6">
		{%- include post-w-excerpt.html -%}
	</div>
</div>
<br />
<div class="row">
	<div class="col-sm-6">
		{%- include post-w-excerpt.html -%}
	</div>
	<div class="col-sm-6">
		{%- include post-w-excerpt.html -%}
	</div>
</div>