<article class="article-otg">
	<a href="{% link post-example.md %}"><img src="{{ '/assets/img/img-placeholder-720x378.png' | relative_url }}" class="img-responsive" /></a>
	<header class="entry-header">
		<h2 class="entry-title h4"><a href="{% link post-example.md %}" rel="bookmark">Airbus aims for more spacious cabin with new ‘Airspace by Airbus’ design</a></h2>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>Larger overhead storage bins, spacious lavatories, wider seats and aisles, and unobstructed under-seat foot space feature in Airbus’ new cabin design.</p>
	</div><!-- .entry-content -->
		
	<div class="entry-meta">
		<a href="#" class="small"><img src="{{ '/assets/img/fte-otg-icon-alt.svg' | relative_url }}" class="img-responsive" style="float:left;width:19px;height:19px;"> Initiatives</a>
		<a href="#" class="small"><i class="fa fa-calendar"></i> Mar 2016</a>	
	</div><!-- .entry-meta -->
</article><!-- #post-## -->