<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="event-news-asia-expo">
            <a href="#"><img src="http://placehold.it/767x402" class="asia-expo img-responsive" /></a>
            <a href="#"><img src="{{ '/assets/img/fte-asia-expo-logo-bar.svg' | relative_url }}" class="img-responsive event-news-logo event-news-logo-bottom" /></a>
        </div>
    </div>
    <div class="col-sm-6 col-md-12">
        <div class="event-news-europe">
            <a href="#"><img src="http://placehold.it/767x402" class="europe img-responsive" /></a>
            <a href="#"><img src="{{ '/assets/img/fte-europe-logo-bar.svg' | relative_url }}" class="img-responsive event-news-logo event-news-logo-bottom" /></a>
        </div>
    </div>
</div>