<div class="panel panel-event-news event-news-global">
    <a href="#"><img src="http://placehold.it/767x402" class="img-responsive" /></a>
    <a href="#"><img src="{{ '/assets/img/fte-global-logo-bar.svg' | relative_url }}" class="img-responsive event-news-logo event-news-logo-bottom" /></a>
    <div class="panel-body">
        <h3 class="text-center text-uppercase panel-title h3"><strong>FTE Global 2016</strong></h3>
        <h4 class="text-uppercase text-center"><strong>7-9 September, Las Vegas</strong></h4>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                <div class="event-news-countdown text-uppercase">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <span class="h1 hero-title hero-title-sm"><strong>14</strong></span>
                            <br />
                            <span class="small">Days</span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="h1 hero-title hero-title-sm"><strong>19</strong></span>
                            <br />
                            <span class="small">Hours</span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="h1 hero-title hero-title-sm"><strong>44</strong></span>
                            <br />
                            <span class="small">Minutes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 fte-event-global">
                <h5 class="text-uppercase text-center"><strong>Latest Event News</strong></h5>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <article>
                    <a href="#"><img src="http://placehold.it/767x402" class="img-responsive" /></a>
                    <header class="entry-header">
                        <h5 class="entry-title"><a href="#" rel="bookmark">New year, new passenger experience inspiration – mark your diary for FTE Europe, FTE Global and FTE Asia EXPO 2016</a></h5>
                    </header>
                    <!-- .entry-header -->
                </article>
                <!-- #post-## -->
            </div>
            <div class="col-sm-6">
                <article>
                    <a href="#"><img src="http://placehold.it/767x402" class="img-responsive" /></a>
                    <header class="entry-header">
                        <h5 class="entry-title"><a href="#" rel="bookmark">Air France-KLM to share future concepts, lessons learned and innovation challenges in unique session at FTE Europe 2016</a></h5>
                    </header>
                    <!-- .entry-header -->
                </article>
                <!-- #post-## -->
            </div>
        </div>
    </div>
</div>