<div class="section">
	<div class="panel panel-fte-cta">
		<div class="panel-heading">
			<h3 class="panel-title h3"><strong>Never Miss Out</strong></h3>
		</div>
	    <div class="panel-body">
	    	<p class="small">Join over 260,000 subscribers!</p>
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Email address">
	            <span class="input-group-btn">
		        <button class="btn btn-fte-cta" type="button"><i class="fa fa-chevron-right"></i></button>
		      </span>
	        </div>
	    </div>
	</div>
	<img src="https://tpc.googlesyndication.com/simgad/3856323209855050593" class="img-responsive center-block" />
</div>