	<section class="section section-social-media">

	<div class="container-fluid">

		<div class="container">
			
			<h3 class="h1 hero-title text-uppercase text-center"><strong>Follow us</strong></h3>

			<div class="row">
				
				<div class="col-sm-4">
					<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">We&#39;re delighted to announce <a href="https://twitter.com/theAPEXassoc">@theAPEXassoc</a> as Headline Partner of FTE Global 2016, Las Vegas! <a href="https://t.co/sEj1BN4ZMi">https://t.co/sEj1BN4ZMi</a> <a href="https://t.co/tatBQ8hpzb">pic.twitter.com/tatBQ8hpzb</a></p>&mdash; Future Travel (@FutureTravelX) <a href="https://twitter.com/FutureTravelX/status/715177182503571457">March 30, 2016</a></blockquote>
				</div>
				<div class="col-sm-4">
					<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">23 airlines are now participating in <a href="https://twitter.com/ChangiAirport">@ChangiAirport</a>&#39;s new common use Early Check-in service. <a href="https://t.co/7JWlVYePjP">https://t.co/7JWlVYePjP</a> <a href="https://twitter.com/hashtag/PaxEx?src=hash">#PaxEx</a></p>&mdash; Future Travel (@FutureTravelX) <a href="https://twitter.com/FutureTravelX/status/707961520211300352">March 10, 2016</a></blockquote>
				</div>
				<div class="col-sm-4">
					<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Aircraft cabin design advancements are creating a whole new world of opportunities. And challenges. <a href="https://t.co/y0pcoHsPhD">https://t.co/y0pcoHsPhD</a> <a href="https://twitter.com/hashtag/PaxEx?src=hash">#PaxEx</a></p>&mdash; Future Travel (@FutureTravelX) <a href="https://twitter.com/FutureTravelX/status/707563140666531840">March 9, 2016</a></blockquote>
				</div>

			</div>
			<br />
			<div class="row">
				
				<div class="col-md-4 text-center">
					<span class="h1 center-block text-center"><a href="https://www.facebook.com/futuretravelx/" class="facebook-hover"><i class="fa fa-facebook hero-title"></i></a></span>
					<div class="fb-page" data-href="https://www.facebook.com/futuretravelx" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-height="377" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
				</div>
				<div class="col-md-4 text-center">
					<span class="h1 center-block text-center"><a href="https://www.linkedin.com/grps/Future-Travel-Experience-3767446" class="google-plus-hover"><i class="fa fa-google-plus hero-title"></i></a></span>
					<div class="g-page" data-href="https://plus.google.com/+Futuretravelexperience"></div>
					<script src="https://apis.google.com/js/platform.js" async defer></script>
				</div>
				<div class="col-md-4">
					<span class="h1 center-block text-center"><a href="https://www.linkedin.com/grps/Future-Travel-Experience-3767446" class="linkedin-hover"><i class="fa fa-linkedin hero-title"></i></a></span>
					<p>With over 2600 members, the <a href="https://www.linkedin.com/grps/Future-Travel-Experience-3767446">Future Travel Experience Linked In discussion group</a> is the best place to get involved with likeminded industry professionals.</p>
				</div>
			</div>

		</div>

	</div>

</section>