<section class="section bg-fte-cta">
	<div class="container">
		<div class="row flex-v-center-sm-and-above">
			<div class="col-sm-7">
				<p class="h4">Get FREE Future Travel Experience News Updates Right To Your Inbox</p>
			</div>
			<div class="col-sm-5">
				<div class="input-group subscribe">
				    <input type="text" class="form-control" placeholder="Email address">
					    <span class="input-group-btn">
					    	<button class="btn btn-fte-cta" type="button"><i class="fa fa-chevron-right"></i></button>
					    </span>
			    </div>
			</div>
		</div>
	</div>
</section>